# Ambientes virtuais
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage

# Jupyter
.ipynb_checkpoints/

# Ferramentas e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
